<img src="/img/heart_wings.jpg" class="center-within"
       height="200"
       width="700"
        />
<div id="about">
  <h2>Purpose</h2>
  <p>To ground our spiritual ideals in service to humanity and our relation to the earth, and awareness of injustice and sustainability.</p>
  <p>To educate and empower our spiritual family to transform human systems and structures that separate us from equitable interbeing.</p>

  <h2>Vision</h2>
  <p>We envision a robust, thriving, collaborative response to the needs of the world. We operate from our recognition of One Being in many forms and find consensus through listening compassionately to all voices. We surrender power, comfort, attachment to outcome, and embrace self-reflection with the courage to ask the hard questions. We recognize and make visible our work to extend its reach.</p> 

  <h2>Aims</h2>
  <ul>
    <li>To examine the effects of the dominant culture in the world at large, in our communities, and in our spiritual communities</li>
    <li>To create a collaborative and supportive community of social and earth justice work</li>
    <li>To recognize and amplify the many ways our spiritual siblings are doing this work</li>
    <li>To provide resources and visibility so that all of this work is organized, published, and promoted</li>
    <li>To take note of what we cling to and why</li>
    <li>To give power instead of taking power</li>
    <li>To become comfortable with not knowing</li>
    <li>To give up attachment to outcome</li>
    <li>To smash our ideals on the rock of truth</li>
    <li>To be courageous and empowered enough to ask the hard questions</li>
  </ul>

  <h2>Structure</h2>
  <p>The previous Brotherhood/Sisterhood Ray has been renamed the Kinship Ray, in recognition of the fact that there are more than two genders in the world today.</p>
  <p>There are at least 3 interrelated beams in this ray, suggestions for which we offer below as examples.</p>
  <ul>
    <li><u>Training</u> - Seminars and workshops both online and in-person to explore, discuss, and work through our current social and earth justice challenges. These could include, racism, heterosexism, sexism, immigration, gender, ableism, corporatism, and more. The idea here is the curriculum for in-depth learning and expanding awareness around a given focus.</li>
    <li><u>Study</u> - groups of people gathered on a regular basis to take on the study of a specific book or issue together. These could be social media groups, such as Facebook groups, as well, which don’t necessarily gather together but through which meaningful conversation can occur, articles can be presented, and book, video, and podcast lists are suggested.</li>
    <li><u>Action - (Wheels within Wheels)</u> - small groups organized around a locale or affinity that meet regularly to consider, plan for, and accomplish specific social and earth justice actions (including self-reflection). These would be loosely held under the umbrella of this new ray as a way to coordinate, collaborate, and support each other.</li>
  </ul>

  <h2>Admin Team</h2>
  <p>The following folx have been working to bring this new ray to our Ruhaniat. Any of them would be pleased to talk with you more about any of the above.</p>
  <ul>
    <li>Baheera Ritchie</li>
    <li>Kalama Reuter</li>
    <li>Nur Mariam Simmons</li>
    <li>Sheril Miller</li>
    <li>Gayatri Kira Kull</li>
    <li>Wakil Matthews</li>
  </ul>
  <p>Please use our contact us page (in development) to get in touch.</p>
</div>
