<h2>Confirm Your Signup!</h2>
<p>Check your inbox for an email from do-not-reply@sri-kinship-ray.org. You muct
    click on the link to complete the signup process. If you don't find the email,
    check your spam folder.
</p>