<h2>Welcome, {{name}}! Your Login Is Confirmed!</h2>
<p>You are already logged in&mdash;now you are free to  <a href="/event-add">enter new events</a> 
    or <a href="/group-add">enter new groups</a>,
    or to edit or delete groups or events that you have created.
</p>
<p>When you come to this site in the future, we will log you in automatically
    if we can. If not, when you go to add or edit a group or event, we will take
    you to the login page, where you just enter your email address&mdash;no 
    password required.
</p>