<img src="/img/logo.jpg" class="center-within" />
<div id="home-welcome">
  <h2>Wecome to the Ruhaniat Kinship Ray! </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
</div>
<div id="home-image">
  <img
    src=""
    class="center-within"
    height="50"
    width="333"
    alt="Image goes here"
  />
</div>
<div id="home-use">
  <h2>How to use this site</h2>
  <p>Here, you can see a
    <a href="/group-list">list of groups</a>
    supporting social justice activities.</p>
  <p>You can also get a <a href="/event-list">list of events</a>.</p>
  <p>You can search these lists based on issues and other fields.</p>
  <p>You can also
    <a href="group-add">add a group</a>
    or
    <a href="event-add">add an event</a>
    to this site, by providing a valid email address and your name.</p>
</div>

{{!-- {{> weather}} --}}