<img src="/img/heart_wings.jpg" class="center-within"
       height="200"
       width="700"
        />
<div id="home-welcome">
  <h2>Welcome to the Kinship Ray Website! </h2>
  <p>We have entered a new dawn of awareness. It is a time for creating a new culture that serves and includes the entire human and more than human family. We recognize the necessity of living in Kinship for the future of all. Through self examination and deep reflection into our habits and practices the ways we live our lives can lead us to a realization of humanity which honors the rights of all. We know the systems and strategies we have used until now are not sufficient to the crisis at hand. It is time to re-imagine our path with courage and bold action. Now is the time for us to do the work by creating and sharing training, studying together, and taking powerful and effective action to move ourselves, our planet, and our beloved community toward a better world.</p>

<p>This website is designed to provide resources, collaboration opportunities, and communication tools for our community.</p> 

<p>The main purpose of this website is to create a reference point and place of contact for all of these efforts. You can access a calendar of training opportunities (calendar coming soon); find discussion groups, book clubs, etc. to participate in (these and training opportunities can be found under Events); find out about <a href="/group-list">groups</a> that match your specific interest (or create/list a group); learn about <a href="/event-list">events</a> and specific actions that are of interest or are taking place near you.</p>
<p>You are invited to use this site to share the social and earth justice work you are doing and to find ways to collaborate with others in our spiritual family.</p>

 <h2>Special Announcement - Sufi Book Club Beginning Again in September</h2>

 <p>In September we will begin our work together on "Do Better: Spiritual Activism for Fighting and Healing from White Supremacy" by Rachel Ricketts. Here is a review of this powerful book:</p>

 <p>Do Better is a revolutionary offering that addresses racial justice from a comprehensive, intersectional, and spirit-based perspective. This actionable guidebook illustrates how to engage in the heart-centered and mindfulness-based practices that will help us all fight white supremacy from the inside out, in our personal lives and communities alike. It is a loving and assertive call to do the deep—and often uncomfortable—inner work that precipitates much-needed external and global change.</p>

 <p>Filled with carefully curated soulcare activities—such as guided meditations and transformative breathwork—“Do Better answers prayers that many have prayed. Do Better offers a bold possibility for change and healing. Do Better offers a deeply sacred choice that we must all make at such a time as this” (Iyanla Vanzant, New York Timesbestselling author).</p>

 <p>We will be meeting on the second and fourth Monday of the month: September 13th and 27th at 4pm Pacific time. (Zoom information will be sent to all who are interested)</p>

 <p>“Do Better” is a process-oriented book, similar to “My Grandmother’s Hand.”
To give us time to really dive into the materials and exercises provided we will meet every two weeks and discuss 3 chapters each time. In that first meeting, we will discuss the exercises that were done in the first three chapters.</p>

<p>Please read and journal or be prepared to discuss your experiences with the readings and especially the exercises. Part of our adab (respect) for each other is to show up having made the effort to be prepared for the discussion. We will break out into small groups to give everyone time to express their feelings and experiences.</p>

<p>For more information or to join our group please contact Nur Mariam Simmons or Wakil David Matthews.</p>
</p>
</div>
<div id="home-image">
  <img src="/img/HeartWings-Nur.png"
       class="center-within"
       />
</div>

<div id="home-use">
  <h2>How to use this site</h2>
  <p>Here, you can see a
    <a href="/group-list">list of groups</a>
    supporting social justice activities.</p>
  <p>You can also get a <a href="/event-list">list of events</a>.</p>
  <p>You can search these lists based on issues and other fields.</p>
  <p>You can also
    <a href="group-add">add a group</a>
    or
    <a href="event-add">add an event</a>
    to this site, by providing a valid email address and your name.</p>
</div>

{{!-- {{> weather}} --}}