<img src="/img/logo.jpg" class="center-within" />
<div id="home-welcome">
  <h2>Welcome to the Kinship Ray-Concentration Website! </h2>
  <p>We have entered a new dawn of awareness. It is a time for creating a new culture that serves and includes the entire human and more than human family. We recognize the necessity of living in Kinship for the future of all. Through self examination and deep reflection into our habits and practices the ways we live our lives can lead us to a realization of humanity which honors the rights of all. We know the systems and strategies we have used until now are not sufficient to the crisis at hand. It is time to re-imagine our path with courage and bold action. Now is the time for us to do the work by creating and sharing training, studying together, and taking powerful and effective action to move ourselves, our planet, and our beloved community toward a better world.</p>

<p>This website is designed to provide resources, collaboration opportunities, and communication tools for our community.</p> 

<p>The main purpose of this website is to create a reference point and place of contact for all of these efforts. You can access a calendar of training opportunities; find discussion groups, book clubs, etc. to participate in; find out about <a href="/group-list">groups</a> that match your specific interest (or create/list a group); learn about <a href="/event-list">events</a> and specific actions that are of interest or are taking place near you.</p>

<p>You are invited to use this site to share the social and earth justice work you are doing and to find ways to collaborate with others in our spiritual family.</p>
</p>
</div>
<div id="home-image">
  <img
    src=""
    class="center-within"
    height="50"
    width="333"
    alt="Image goes here"
  />
</div>
<div id="home-use">
  <h2>How to use this site</h2>
  <p>Here, you can see a
    <a href="/group-list">list of groups</a>
    supporting social justice activities.</p>
  <p>You can also get a <a href="/event-list">list of events</a>.</p>
  <p>You can search these lists based on issues and other fields.</p>
  <p>You can also
    <a href="group-add">add a group</a>
    or
    <a href="event-add">add an event</a>
    to this site, by providing a valid email address and your name.</p>
</div>

{{!-- {{> weather}} --}}